@font-face {
  font-family: "mobiyante";
  src: url("@/fonts/Mobiyante.TTF") format("truetype");
}

@font-face {
  font-family: "sofia-pro-bold";
  src: url("@/fonts/Sofia-Pro-Bold.TTF") format("truetype");
}

@font-face {
  font-family: "sofia-pro-light";
  src: url("@/fonts/Sofia-Pro-Light.TTF") format("truetype");
}

@font-face {
  font-family: "Gill-Sans-Nova-Inline";
  src: url("@/fonts/Gill-Sans-Nova-Inline.TTF") format("truetype");
}

